---
layout: default
permalink: /insiders/
redirect_from: /Insiders.aspx/
---

<div class="container">
  <div class="windowLeft">
    <p>
      This list represents our current membership. The membership governance is augmented by one Microsoft
      representative who advises and assists. Currently, Scott Hanselman is fulfilling this role.
    </p>
  </div>
  <div class="insiderList">
    {% comment %}
    Please edit the _data/insiders.yml file to add insiders to the list.
    {% endcomment %}
    <div>
      <ul>
        {% for insider in site.data.insiders.active %}
          <li>
          {% if insider.url %}
            <a href="{{ insider.url }}">{{ insider.name }}</a>
          {% else %}
            {{ insider.name }}
          {% endif %}
          </li>
        {% endfor %}
      </ul>
      </div>
      <h3>In Memory Of</h3>
      <div>
        <ul>
        {% for insider in site.data.insiders.memory %}
          <li>
          {% if insider.url %}
            <a href="{{ insider.url }}">{{ insider.name }}</a>
          {% else %}
            {{ insider.name }}
          {% endif %}
          </li>
        {% endfor %}
      </ul>
      </div>
  </div>
</div>