---
layout: default
permalink: /supporters/
redirect_from: /Supporters.aspx/
---
<h3>Supporters</h3>

<table class="supporters" cellpadding="10" cellspacing="5">
<tbody>
  {% for supporter in site.data.supporters %}
  <tr>
    <td>
      {% if supporter.url %}
      <a href="{{ supporter.url }}">
      {% endif %}
      <img alt="{{ supporter.name }}" src="{{ supporter.image | prepend: site.baseurl | prepend: site.url }}">
      {% if supporter.url %}
      </a>
      {% endif %}
    </td>
    <td>{{ supporter.description }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
