
.contact_table td
{
    text-align:left;
    vertical-align:top;   
    padding-bottom:5px;
    }
.contact_label
{
    width:100px;
    font-family:Arial;
    font-size:15px;
    }
.contact_field
{
  
    
    }
.contact_asp_field_name
{
    
    
    }
.contact_asp_field_surname
{
    
    
    }
.contact_asp_field_subject
{
    
    
    }
.contact_asp_field_email
{
    
    
    }
.contact_asp_field_message
{
    width:300px;
    height:200px;
    
    }
.contact_asp_field_btn
{
    
    
    }
.contact_table td.contact_field_btn
{
    text-align:right;
    
    }
.contact_field_msg
{
    text-align:center;
    color:red;
    
    }
label.error
{
    font-size:10px;
    font-family:Tahoma;
    color:Red;
    clear:both;
    display: block;
    
    }
    
    .caplbl{clear:both;}
    
    

     
