<!DOCTYPE html>
<html lang="en-US">
<head id="Head">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta id="MetaCopyright" name="COPYRIGHT" content="Copyright {{ site.time | date: "%Y" }} by AspInsiders">
  <meta id="MetaAuthor" name="AUTHOR" content="{{ site.title }}">
  <meta id="MetaRobots" name="ROBOTS" content="INDEX, FOLLOW">
  <link href="{{ "/assets/css/fresh.css?v=" | append: site.github.build_revision | prepend: site.baseurl | prepend: site.url }}" rel="stylesheet">
  <link href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" rel="canonical">
</head>
<body>
  <div id="masterFrame">
  <header>
    <img src="{{ "/assets/img/logo.gif" | prepend: site.baseurl | prepend: site.url }}" alt="AspInsiders Logo" />
  </header>
  <nav>
    <ul id="dnn_pnav" class="nav">
      <li class="dropdown"><a href="{{ "/" | prepend: site.baseurl | prepend: site.url }}">Home</a></li>
      <li class="dropdown"><a href="{{ "/insiders/" | prepend: site.baseurl | prepend: site.url }}">Insiders</a></li>
      <li class="dropdown"><a href="{{ "/supporters/" | prepend: site.baseurl | prepend: site.url }}">Supporters</a></li>
    </ul>
  </nav>
  <div id="content">
    {{ content }}
  </div>
  <div class="clearall"></div>
  <footer>
    <div>
      <span>Copyright {{ site.time | date: "%Y" }} by AspInsiders</span>
    </div>
  </footer>
  </div>
  {% if site.google_analytics_enabled %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-36622168-1', 'auto');
      ga('send', 'pageview');
    </script>
  {% endif %}
</body>
</html>
